<!-- Sección Módulos -->
<section class="bg-white">
    <div class="mx-auto max-w-12xl px-4 sm:px-6 lg:px-8 py-20">
        <div class="space-y-10">
            <!-- Card Inflación Total -->
            <%
            partial(path"app/resources/homes/views/partials/intro_modules/total_inflation.jl.html")
            %>
            <!-- Card Gastos Básicos -->
            <%
            partial(path"app/resources/homes/views/partials/intro_modules/goods.jl.html")
            %>
            <!-- Card Inflación Subyacente -->
            <%
            partial(path"app/resources/homes/views/partials/intro_modules/core_inflation.jl.html")
            %>
        </div>
    </div>
</section>
